<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corona Cure</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='coronacurelogo.png')}}">
</head>

<body>
<STYLE>A {text-decoration: none; color: black;} </STYLE>
    <div class="container">
        <div class="menu">
            <ul>
                <li class="logo"><a href="https://www.coronacures19.com/home"><img src="static/coronacurelogo.png"></a></li>
                 <li><a href="https://www.coronacures19.com/home">Home</a></li>
                <li><a href="https://www.coronacures19.com/recentnews">Recent News</a></li>
                <li><a href="https://www.coronacures19.com/howtohelp">How to Help</a></li>
                <li><a href="https://www.coronacures19.com/about">About</a></li>
            </ul>
        </div>
    </div>

<div class="biography">
        <h1 font-size:45px;>Meet the Creator</h1>
        <br>
        <hr>
        <p>The creator of this website is Chris Lee. He is a self-taught coder who wanted to use his skills to help during the pandemic.</p>
</div>
<div class="contactinfo">
        <h1 font-size:45px;>Contact Information</h1>
        <br>
        <hr>
        <p>Please feel free to reach out at chrislee8684@gmail.com for questions/inquiries.</p>
</div>

</body>
</html>